header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* 
.corner img {
    content: url(./logo/logo.svg);
    object-fit: contain;
} */

/* @media (min-width: 640px) {
    .corner img {
        content:url(./logo/logo_pc.png);
    }
} */