header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.corner img {
    object-fit: contain;
    content:url(./logo/logo.png);
}

@media (min-width: 640px) {
    .corner img {
        content:url(./logo/logo_pc.png);
    }
}